<h1><%= @student.name%>'s page</h1>
<h2>Age: <%=@student.age%></h2>

<%= button_to "Edit Student", edit_student_path, method: :get%>
<%= button_to "Destroy Student", student_path, method: :delete%>
<%= link_to "destroy Student",student_path%>

